<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../static/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/css/login.css" />
		<link rel="stylesheet" href="../static/css/footer&cbl.css" />
		<link rel="stylesheet" href="../static/css/daohang.css" />
		<script type="text/javascript" src="../static/js/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../static/js/bootstrap.js" ></script>
		<script type="text/javascript" src="../static/js/hp.js" ></script>
		<title></title>
	</head>
	<body>
		<div id="main">
			<nav class=" navbar-inverse" id="daohang">
				<div class="daohang">
					<div class="navbar-header clearfix">
						<button type="button" class="zd" id="zd" >
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="daohangtiao">
					</div>
				</div>
				<div id="box">
					<div class="box1 col-sm-2 col-xs-2">
						<span id="X" class="glyphicon glyphicon-remove pull-right" ></span>
					</div>

				</div>
			</nav>
			<div class="main">	
			<div class="container">
				<div class="c2">
					<span>
						<img src="../static/img/robot.png" />
					</span>
					<p>ChatBot_3403</p>
				</div>
				<div class="c3">
					<form>
						<div class="form-group">
    						<label for="usernameoremail">User Name or Email</label>
    						<input type="text" class="form-control" id="usernameoremail">
  						</div>
  						<div class="form-group">
    						<label for="password">Password</label>
    						<input type="password" class="form-control" id="password">
  						</div>
  						<div class="checkbox">
    						<label>
     		 					<input type="checkbox" id="rememberMe"> Remember me
    						</label>
  						</div>
  						<div class="c3-1">
							<input type="button" value="Log in" id="denglu"  class="btn btn-default btn1"></input>
							<a href="{{ url_for('toRegister') }}" type="button" class="btn btn-default btn2">Register</a>
						</div>

					</form>
				</div>
			</div>
		</div>

		</div>
    <script type="text/javascript" src="../static/js/login.js" ></script>
	</body>
</html>
