/* Google Font Import - Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ======== Colours ======== */
  --body-color: #383838;
  --sidebar-color: #535353;
  --primary-color: #383838;
  --primary-color-light: #c3c3c3;
  --toggle-color: #4f4f4f;

  /* ======== Transitions ======== */
  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.4s ease;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 175px;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 0px 0px 8px 8px;
  z-index: 3;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: var(--sidebar-color);
  z-index: 2;
}

.main-content {
  position: fixed;
  top: 175px;
  left: 350px;
  height: calc(100vh - 175px);
  width: calc(100vw - 350px);
  z-index: 1;
}
