<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chatbot2.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="header-block">
        <div class="header-content">
          <h1>Chatbot_3403</h1>
        </div>
        <div class="settings-button">
          <button class="settings-button">Settings</button>
        </div>
      </div>
    </header>
    <nav class="sidebar-block"></nav>
    <main class="main-block">
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
      <h1>Chatbot_3403</h1>
    </main>
  </body>
</html>
