<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chatbot</title>

    <!-- Icons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <!--- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chatbot2.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <h1>Chatbot_3403</h1>
      <div class="settings-button">
        <a href="#"
          ><img src="../static/assets/setting.png" width="75px" height="75px" />
        </a>
      </div>
    </header>
    <nav class="sidebar">
      <a href="#" class="create-chat"
        ><img src="../static/assets/add.png" width="50px" height="50px" />
        <span class="create-chat-text">New Chat</span></a
      >
      <input
        class="search-bar"
        type="text"
        placeholder="      Search history..."
      />
      <a href="#" class="search-glass">
        <img src="../static/assets/search.png" width="35px" height="35px" />
      </a>
      <hr />
      <ul>
        <li class="chat-history-item">
          <a href="#">
            <img
              class="chat-history-image"
              src="../static/assets/comment.png"
              width="35px"
              height="35px"
            />
            <span class="chat-history-text">Previous Chat</span></a
          >
        </li>
      </ul>
    </nav>
    <main class="main-content"></main>
  </body>
</html>
