<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chatbot</title>

    <!-- Icons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <!--- Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chatbot2.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <h1>Chatbot_3403</h1>
      <div class="settings-button">
        <a href="#"
          ><img src="../static/assets/setting.png" width="75px" height="75px" />
        </a>
      </div>
    </header>
    <nav class="sidebar">
      <a href="#" class="create-chat"
        ><img src="../static/assets/add.png" width="50px" height="50px" />
        <span class="create-chat-text">New Chat</span></a
      >
      <input
        class="search-bar"
        type="text"
        placeholder="      Search history..."
      />
      <a href="#" class="search-glass">
        <img src="../static/assets/search.png" width="30px" height="30px" />
      </a>
      <hr />
      <ul>
        <li class="chat-history-item">
          <a href="#">
            <img
              class="chat-history-image"
              src="../static/assets/comment.png"
              width="35px"
              height="35px"
            />
            <span class="chat-history-text">Previous Chat</span></a
          >
        </li>
      </ul>
    </nav>
    <main class="main-content">
      <img
        class="background-image"
        src="../static/assets/robot_background.png"
        height="90%"
      />
      <span class="chatbot-title">
        <img
          class="chatbot-title-image"
          src="../static/assets/edit.png"
          width="35px"
          height="35px"
        />
        <h1 class="chatbot-title-text">Title</h1>
        <h1 class="chatbot-title-date">16th May 2023</h1></span
      >

      <span class="chatbot-input">
        <input
          class="chatbot-input-text"
          type="text"
          placeholder=" Type your message here..."
        />
        <a href="#" class="chatbot-input-send">
          <img
            class="chatbot-input-send-image"
            src="../static/assets/send.png"
            width="30px"
            height="30px"
          />
        </a>
      </span>
    </main>
  </body>
</html>
