<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../static/css/bootstrap.css" />
		<link rel="stylesheet" href="../static/css/register.css" />
		<link rel="stylesheet" href="../static/css/daohang.css" />
		<script type="text/javascript" src="../static/js/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../static/js/bootstrap.js" ></script>
		<title></title>

	</head>
	<body>

	<div id="main">
		<nav class=" navbar-inverse" id="daohang">
				<div class="daohang">
					<div class="navbar-header clearfix">
						<button type="button" class="zd" id="zd" >
							<span class="glyphicon glyphicon-align-justify"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="daohangtiao">
					</div>						
				</div>
				<div id="box">
					<div class="box1 col-sm-2 col-xs-2">
						<span id="X" class="glyphicon glyphicon-remove pull-right" ></span>
					</div>

				</div>
			</nav>
		<div class="main">
			<div class="container  ">
				<div class="c2">
					<span>
						<img src="../static/img/robot.png" />
					</span>
					<p>ChatBot_3403</p>
				</div>
				<div class="c3">
					<form>
						<div class="form-group">
    						<label for="usernameoremail">User Name or Email *</label>
    						<input type="text" class="form-control" id="usernameoremail">
    						<span class="pp hide">Compulsory field</span>
  						</div>
  						<div class="form-group">
    						<label for="password">Password <img class="help" src="../static/img/help.png" title="At least 8 figures."/>*</label>
    						<input type="password" class="form-control" id="password">
  							<span class="pp hide">Compulsory field</span>
  						</div>
  						<div class="form-group">
    						<label for="password">Re-Enter Password </label>
    						<input type="password" class="form-control" id="pwd_verify">
  						</div>
  						<div class="checkbox">
    						<label>
     		 					<input type="checkbox"> Agreements
    						</label>
  						</div>
  						<div class="c3-1">
							<input type="button" value="Register" id="zhuce"  class="btn btn-default btn1"></input>
							<a href="{{ url_for('toLogin') }}"  type="button" class="btn btn-default btn2">Already have an account? Log in here.</a>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>
	</body>
	<script type="text/javascript" src="../static/js/hp.js" ></script>
	<script type="text/javascript" src="../static/js/register.js" ></script>
	
</html>
